<li
  class="document-list-item"
  data-testid="document-item"
  [attr.data-document-name]="document.name"
>
  <div class="document-list-item__details">
    <span class="document-list-item__name">{{ document.name }}</span>
    <span class="document-list-item__updated-at">Updated {{ document.updatedAt }}</span>
  </div>

  <div class="document-list-item__actions">
    <button
      type="button"
      class="document-list-item__action"
      data-testid="document-item-open"
      (click)="onOpenClicked()"
    >
      Open
    </button>
    <button
      type="button"
      class="document-list-item__action"
      data-testid="document-item-rename"
      (click)="onRenameClicked()"
    >
      Rename
    </button>
    <button
      type="button"
      class="document-list-item__action document-list-item__action--danger"
      data-testid="document-item-delete"
      (click)="onDeleteClicked()"
    >
      Delete
    </button>
  </div>
</li>
