<div class="template-picker">
  <app-rail-button
    icon="templates"
    label="Templates"
    testId="template-picker-toggle"
    (clicked)="toggle()"
  ></app-rail-button>

  @if (isOpen()) {
    <div class="template-picker__panel" data-testid="template-picker">
      @for (template of templates(); track template.key) {
        <button
          type="button"
          class="template-picker__option"
          [attr.data-testid]="'template-option-' + template.key"
          (click)="select(template)"
        >
          <span class="template-picker__option-name">{{ template.name }}</span>
          <span class="template-picker__option-category">{{ template.category }}</span>
        </button>
      }
    </div>
  }
</div>
