<span
  class="connection-status-indicator"
  [class.connection-status-indicator--connected]="state === 'connected'"
  [class.connection-status-indicator--disconnected]="state === 'disconnected'"
  [class.connection-status-indicator--reconnecting]="state === 'reconnecting'"
>
  <span
    class="connection-status"
    [class.connection-status--connected]="state === 'connected'"
    [class.connection-status--disconnected]="state === 'disconnected'"
    [class.connection-status--reconnecting]="state === 'reconnecting'"
    data-testid="connection-status">{{ state }}</span>
</span>
